body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
}

.input-group {
    flex: 1;
    margin-right: 10px;
}

.input-group:last-child {
    margin-left: 20px;
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="date"],
input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-webkit-clear-button {
    -webkit-appearance: none;
    margin: -10px;
}

input[type="date"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder {
    color: #999;
}

input[type="date"]::-moz-placeholder,
input[type="number"]::-moz-placeholder {
    color: #999;
}

input[type="date"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder {
    color: #999;
}

input[type="date"]::placeholder,
input[type="number"]::placeholder {
    color: #999;
}

input[type="date"]:focus,
input[type="number"]:focus {
    outline: none;
    border-color: #5c9be8;
}


table {
    border-collapse: collapse;
    background: white;
    color: black;
}
  
th,
td {
    font-weight: bold;
}