body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 1.46%;
}

.input-container {
    max-width: 29.28%;
    margin: 0 auto;
    padding: 1.46%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

@media screen and (max-width: 700px) {
  body {
    padding: 1.46% 0;
  }
  .input-container {
    max-width: 204.96px;
  }
}
  
  .date-calculator-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  input[type="date"],
  input[type="number"] {
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #0056b3;
  }

.container-results {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  align-items: center;
  max-width: 100%;
}

.results {
  width: 700px;
}

@media screen and (max-width: 700px) {
  .results {
    max-width: 100%;
  }
}

table {
  display: relative;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  background: white;
  color: black;
}

.month {
  margin-bottom: 0px;
  margin-top: 50px;
}
  
th,
td {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

td {
  font-size: 1.2em;
  padding: 3%;
}