{% extends 'global/base.html' %}

{% block dates %}


<div class="input-container">
    <form action="{% url 'date_calculator:calculate' %}" method="GET" class="date-calculator-form">
      <div class="input-group">
        <label for="data-input">Data do último dia trabalhado:</label>
        <input type="date" id="data-input" name="work_day" value="{{request.GET.work_day}}" required>
      </div>
      <div class="input-group">
        <label for="numero-input">Dias de folga entre o trabalho:</label>
        <input type="number" id="numero-input" name="day_off" min="0" value="{{request.GET.day_off}}" required>
      </div>
      <button type="submit">Calcular</button>
    </form>
</div>

<div id="res" class="container-results">
    {% for i, v in con.items %}
        <div class="results">

            <h2 class="month" align="center" style="color: rgb(110, 110, 108);">
                {{i}} {{year}}
            </h2>
            <br />

            <table bgcolor="lightgrey" align="center" 
                cellspacing="21" cellpadding="21">

                <thead>
                    <tr>
                        <th style="color: white; background: gray;">
                            Seg</th>
                        <th style="color: white; background: gray;">
                            Ter</th>
                        <th style="color: white; background: gray;">
                            Qua</th>
                        <th style="color: white; background: gray;">
                            Qui</th>
                        <th style="color: white; background: gray;">
                            Sex</th>
                        <th style="color: white; background: gray;">
                            Sab</th>
                        <th style="color: white; background: gray;">
                            Dom</th>
                    </tr>
                </thead>

                <tbody>
                    {% for row in v.1 %}
                        <tr>
                            {% for c in row %}
                                {% if c == 0 %}
                                    <td></td>
                                {% else %}
                                    {% if c in v.0 %}
                                        <td style="background-color:LightSkyBlue;">{{c}}</td>
                                    {% else %}
                                        <td>{{c}}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>

{% endblock dates %}